@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body, html {
  overflow-x: hidden;
}

.home-section {
  /* position: relative; */
  height: 100vh;
  background-color: #efe9e7;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}

.hero-title {
  position: absolute;
  z-index: 1;
  line-height: 0.8;
  padding-top: 2%;
}

.hero-port {
  display: block;
  font-size: 16vw;
  color: #dd73a1;
  font-weight: 700;
  text-shadow: 
    10px 0px 0px #eac9d4,
    20px 0 0 #eac9d4;
  margin-top: 7%;
  margin-left: 23%;

}

.hero-folio {
  /* display: block; */
  font-size: 18vw;
  font-family: 'Anton', sans-serif;
  color: #efb7ce;
  text-shadow: 20px 0px 0px rgba(239, 211, 220, 0.5);
  margin-left: 117%;
  margin-top: 26%;
}

/* CONTENIDO */
.hero-content {
  position: absolute;
  top: 60%;
  left: 21%;
  transform: translateX(-50%);
  z-index: 3;
  text-align: left;
}

/* ROL */
.hero-role {
  font-size: 3.2rem;
  position: relative;
  color: #e1dbd9;
  margin-bottom: 20px;
  top: 8%;
  font-weight: 610;
  letter-spacing: 3px;
}

/* NOMBRE */
.hero-name {
  line-height: 0.9;
}


.name-carolina {
  font-family: 'Poppins', sans-serif; /* reemplazo de Glacial */
  font-size: 4rem;
  color: #000;
}

@font-face {
  font-family: 'Parfumerie';
  src: url('../../Fonts/parfumerie-script-regular.otf') format('truetype');
}

.name-escalante {
  font-family: 'Parfumerie';
  font-size: 8rem;
  color: #000;
  margin-left: 50%; 
}

/* IMAGEN */
.hero-image {
  position: absolute;
  top: 11%;
  left: 62%;
  transform: translateX(-50%);
  z-index: 0;
}

.hero-image img {
    width: 107%;
    max-width: 800px;
    height: auto;
  }

/* BOTON */
.btn-conoceme-container {
  position: absolute;
  bottom: 60px;
  left: 40%;
  transform: translateX(-50%);
  z-index: 4;
}

.btn-conoceme {
  background-color: #ff66c4;
  color: #ffffff;
  border: none;
  padding: 18px 40px;
  border-radius: 30px;
  font-size: 1.1rem;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-conoceme:hover {
  transform: scale(1.05);
}

/* 📱 TABLET */
@media (max-width: 1024px) {

  .hero-content {
    left: 55%;
  }

  /* .hero-image img {
    width: 400px;
  } */
}

/* 📱 MOBILE */
@media (max-width: 768px) {

  .hero-title {
    position: relative;
    /* top: auto; */
    /* left: auto; */
    text-align: center;
    margin-top: 40px;
  }

  .hero-port {
    top: 10%;
    left: 5%;
    font-size: 30vw;
    padding-top: 3%;
  }

  .hero-folio {
    /* top: 28%; */
    /* left: -10%; */
    font-size: 2vw;
    margin-left: -117%;
     margin-top: 26%;
  }

  .hero-content {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    text-align: center;
    margin-top: 120px;
  }

  .hero-role {
    font-size: 0.5rem;
     padding-top: 3%;
  }

  .name-carolina,
  .name-escalante {
    font-size: 2rem;
  }

  .hero-image {
    position: relative;
    left: auto;
    transform: none;
    /* margin-top: 30px; */
    text-align: center;
  }

  .hero-image img {
    width: 300px;
  }

  .btn-conoceme-container {
    position: relative;
    left: auto;
    transform: none;
    margin-top: 30px;
    text-align: center;
  }
}